# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Builds
bin/
intermediate/
output/
debug/
release/
LibDebug/
LibRelease/

# Visual Studio 2015 database file

*.VC.db
*.VC.VC.opendb

# Visual Studio 2015 Options file
*.suo

# Visual Studio 2017 Settings
.vs
